* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}

/* HERO SECTION */
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 8.6rem;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;
  align-items: center;
}
/* HEADINGS */
.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quad {
  color: #333;
  /* color: #343a40; */
  line-height: 1.05;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.8rem;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 2.6rem;
  margin-bottom: 3.2rem;
}
.heading-quad {
  font-size: 2rem;
}
.hero-description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 52px;
}
.hero-img {
  width: 100%;
}
.btn,
.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  background-color: #e67e22;
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 12px;
  font-weight: 600;
  transition: all 1s;

  /* only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.one:hover,
.one:active {
  background-color: #cf711f;
}

.two:link,
.two:visited {
  background-color: white;
  color: #555;
}

.two:hover,
.two:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px white;
}

.delivered-meals {
  display: flex;
  gap: 1.5rem;
  align-content: center;
}
.delivered-customers {
  display: flex;
}
.delivered-customers img {
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-customers img:last-child {
  margin: 0;
}
.delivered-text {
  font-weight: 600;
  font-size: 1.5rem;
  align-self: center;
}
.customer-count {
  color: #cf711f;
  font-weight: 700;
}

/*HEADER SECTION*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*TO MAKE HEADER STICKY*/
  height: 4.6rem;
  padding: 0 4.8rem;
}

/* NAVIGATION LIST */
.main-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-weight: 600;
  color: #333;
  font-size: 1.6rem;
  transition: all 0.3s;
  align-items: center;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: white !important;
  background-color: #e67e22;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: all 0.3s;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* HOW IT WORKS SECTION */
.work-section {
  /* background-color: orangered; */
  padding: 9.6rem 0;
}

.sub-heading {
  /*span is an inline element */
  display: block;
  font-size: 1.6rem;
  color: #cf711f;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}

.sub-img {
  width: 35%;
}

.step-number {
  font-size: 6.2rem;
  font-weight: 600;
  color: rgba(85, 85, 85, 0.5);
  margin-bottom: 1.2rem;
}
.sub-textbox-description {
  font-size: 1.6rem;
  line-height: 1.8;
}
.work-section-space {
  gap: 7.6rem;
}
.sub-work-section {
  column-gap: 6rem;
  row-gap: 9.6rem;
  /* align-items: center; */
}
.sub-textbox {
  align-self: center;
}
.sub-img-box {
  /* justify-self: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sub-img-box::before {
  content: "";
  display: block;
  background-color: #fdf2e9;
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  position: absolute;
  /*
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  */
  border-radius: 50%;
  z-index: -2;
}
.sub-img-box::after {
  content: "";
  display: block;
  background-color: #fae5d3;
  width: 45%;
  /* height: 60%; */
  padding-bottom: 45%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

/* FEATURED IN SECTION */
.featured-section {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-logo-box {
  display: flex;
  justify-content: space-around;
}

.heading-quad {
  color: #888;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.featured-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* MEALS SECTION */
.meals-section {
  padding: 9.6rem 0;
}
.meal-cards {
  column-gap: 3rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s;
}

.meal:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}
.tag {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  margin-bottom: 1.2rem;
  font-weight: 600;
}
.meal-tags {
  margin-bottom: 1.2px;
  display: flex;
  gap: 6px;
}
.vegan {
  background-color: #a9e34b;
}
.paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-image {
  width: 100%;
}

.meal-attributes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-icon {
  color: #e67e22;
  font-size: 2.4rem;
}

.meal-att {
  font-size: 1.6rem;
  display: flex;
  gap: 1.6rem;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

/* ALL RECEPIES LIST */

.margin-bottom--md {
  margin-bottom: 4.8rem !important;
}
.recepies-link:link,
.recepies-link:visited {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: #e67e22;
  transition: all 0.3s;
}
.recepies-link:hover,
.recepies-link:active {
  color: #cf711f;
}
/* TESTIMONIAL SECTION */

.testimonial-section {
  display: grid;
  grid-template-columns: 55fr 45fr;
  background-color: #fdf2e9;
  align-items: center;
}

.testimonial-container {
  /* padding: 9.6rem; */
  padding: 4.8rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  /* Since img is square height will be auto set */
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  /* padding: 1.6rem; */
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}
/* PRICING SECTION */
.pricing-section {
  padding: 9.6rem 0;
}

.princing-plan {
  border-radius: 11px;

  width: 75%;
}

.princing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.princing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.princing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-top: -6rem;
}

.pricing-container {
  gap: 6.6rem;
}
/*  FEATURES */

.features {
  justify-items: center;
  gap: 2.4rem;
  padding: 0 9.6rem;
}

.feature-icon {
  color: #e67e22;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 1.8rem;
  line-height: 1.6;
}
/* CTA section */
.cta-section {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 3rem rgba(0, 0, 0, 0.25);

  border-radius: 11px;
  /* linear gradient */
  background-image: linear-gradient(to right, #eb984eed, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text-box .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(to right, #eb974e85, #e67d228c),
    url("../img/eating.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  border-radius: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.546);
}

/* FOOTER SECTION */

.section-footer {
  padding: 12.8rem 0;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto !important;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

address {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contact-no-mail {
  margin-top: 2.4rem;
}
